* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #ffffff;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 60px;
}

h4 {
    color: rgb(61, 58, 58);
}

h3 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

.header-main {
    position: relative;
    height: 600px;
    width: 1320px;
    margin: auto;
    margin-top: 50px;
    background-image: url("/images/Hero-banner.png");
    border-radius: 16px;
}

.hero-text {
    position: absolute;
    margin-top: 80px;
    text-align: center;
    line-height: 1.2;

}

.promo-text {
    text-align: center;
    padding-top: 60px;
    color: red;
}

#text-black-promo {
    color: black;
}

.midnight-deals {
    width: 1320px;
    height: 601.963px;
    background-image: url('/images/midnight.png');
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
}

#midnight-deals-text {
    color: #ffffff;
}

.midnight-deals-body {
    padding-top: 50px;
    padding-left: 50px;
    max-width: 700px;
    padding-bottom: 30px;
}

button {
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 8px;
    margin: 20px;
}

.event {
    background-image: linear-gradient(rgb(255, 170, 170), white);
    border-radius: 10px;
    max-width: 1320px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 50px;

}

.event-text {
    padding-top: 50px;
    color: black;
    text-align: center;
    font-weight: 500;
}

.redtext {
    color: red;
}

#joinbtn {
    margin: 50px;
}

.celebrating {
    display: flex;
    width: 1320px;
    margin: auto;
}

#cele-img {
    margin: auto;
    padding: 20px;
    border-radius: 100%;
    border: red solid 10px;
}

.celebtext-left {
    max-width: 300px;
    color: black;
}

.celebtext-right {
    color: black;
}

#smallnw {
    padding-top: 50px;
}

.discount-se {
    color: black;
    text-align: center;
    max-width: 1320px;
    margin: auto;
    padding-top: 100px;
}

.holiday-sale {
    /* display: flex; */
    position: relative;
    width: 1320px;
    height: 229px;
    background-color: red;
    border-radius: 10px 0px 10px 10px;
    margin: auto;
    margin-top: 420px;
}

#box-image {
    position: absolute;
    top: -100%;
    right: 60%;
}

#box-image-2 {
    position: absolute;
    top: -190%;
    right: 0%;
}

.discountamount {
    width: 150px;
    width: 150px;
    background-color: #ff0000;
    border: #ffffff solid 10px;
    border-radius: 100%;
    position: absolute;
    top: -170%;
    right: 25%;
    text-align: center;
    padding: 50px;
    transform: rotate(-35deg);
}

.choosegift {
    width: 1320px;
    margin: auto;
    padding: 100px 0px 50px 0px;
}

.choosegift-text {
    color: black;
    padding-bottom: 50px;
}

.choosegift-images-main {
    padding: 5px;
}

.newsletter {
    position: relative;
    width: 1320px;
    height: 616px;
    margin: auto;
    border-radius: 16px;
    background-color: #FFF2F2;
    text-align: center;
    color: #000000;
    padding: 0px;
}

.newsletter-submit {
    margin: 50px;
}

#newsletter-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 80px;
    padding-right: 0px;
}

#newsletter-email {
    width: 150px;
    height: 50px;
    padding: 0px 20px 0px 20px;
    background-color: #ffffff;
    border-radius: 50px 0px 0px 50px;
    border: none;
}

#nwslbtn {
    height: 52px;
    width: 150px;
    margin: 0px;
    border: none;
    border-radius: 0px 50px 50px 0px;
}

footer {
    height: 609px;
    background-color: #000000;
    margin: 100px 0px 50px 0px;
}

.company-info {
    width: 1320px;
    margin: auto;
    font-style: normal;
    display: block;
    padding: 50px 140px 20px 140px;
}

.company-info-more {
    display: block;
    text-align: right;
}

.imgflex {
    float: auto;
}

.whitetxt {
    color: #ffffff;
}

#widthsc {
    max-width: 350px;
}


hr {
    width: 1320px;
    margin: auto;
    color: #6c6c6c;
}

.social-icons {
    height: 50px;
    width: 50px;
    display: flex;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 20px;
}

.copyright-selection {
    max-width: 1320px;
    margin: auto;
    text-align: left;
    display: flex;
}

.right-al {
    flex: 1;
    text-align: right;
}