* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #D9D9D9;
    color: #ffffff;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 40px;
}

.header-main {
    position: relative;
    height: 600px;
    width: 1320px;
    margin: auto;
    margin-top: 50px;
    background-image: url("/images/Hero-banner.png");
    border-radius: 16px;
}

.hero-text {
    position: absolute;
    margin-top: 80px;
    text-align: center;
    line-height: 1.2;

}

.promo-text {
    text-align: center;
    padding-top: 60px;
    color: red;
}

#text-black-promo {
    color: black;
}

.midnight-deals {
    width: 1320px;
    height: 601.963px;
    background-image: url('/images/midnight.png');
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
}

.midnight-deals-body {
    padding-top: 50px;
    padding-left: 50px;
    max-width: 700px;
    padding-bottom: 30px;
}

button {
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: brown;
    border-radius: 8px;
    margin: 20px;
}
